<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domů</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>

<body class="body">
    <div class="container">
        <section class="header">
            <a href="#" class="logo"><img src="image/logo.png" alt="logo"></a>
            <input class="menu-btn" type="checkbox" id="menu-btn">
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="add-room ">Chci být hostitel</a></li>

            </ul>
        </section>
        <div class="container detail">


            <div class="gallery-detail">
                <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
                <div class="slides">
                    <div class="slide"><img src="..//image/vm.jpg" alt="Pokoj 1" onclick="openFullscreen(this);"></div>
                    <div class="slide"><img src="..//image/vm2.jpg" alt="Pokoj 2" onclick="openFullscreen(this);"></div>
                    <div class="slide"><img src="..//image/dum2.jpg" alt="Pokoj 3" onclick="openFullscreen(this);">
                    </div>
                </div>
                <button class="next" onclick="plusSlides(1)">&#10095;</button>
            </div>

            <div id="myModal" class="modal">
                <span class="close" onclick="closeFullscreen();">&times;</span>
                <img class="modal-content" id="img01">
            </div>
        </div>
        <section class="detail-pokoje">
            <div class="text-detail">
                <h2>Větrný mlýn</h2>
                <p class="strucnypopis">
                    4 hosté ◦ 2 ložnice ◦ 3 lůžka ◦ 2 koupelny
                </p>
                <p class="hodnoceni">
                    ⭐⭐⭐⭐⭐ (5)
                </p>

                <p>
                    Náš útulný byt větrného mlýna je ztělesněním rustikálního pohodlí a moderní elegance. S úctou k
                    historii
                    tohoto unikátního prostoru jsme ho proměnili na útulné obydlí s veškerým komfortem. Rozkládá se na 2
                    podlažích a nabízí 2 ložnice, 2 koupelny a obývací prostor s otevřeným plánem. Plně vybavená kuchyně
                    dodává našemu domovu praktičnost a pohodlí, zatímco dřevěné podlahy dotvářejí atmosféru tepla a
                    útulnosti.

                    Vstupující do tohoto půvabného bytu, okouzlí vás vkusný moderní design, který harmonicky splyne s
                    historickými prvky mlýna. Velká okna v obývacím pokoji nabízejí nádherný výhled do okolní krajiny a
                    umožňují proudění světla, které osvěžuje a oživuje interiér.

                    Nejvíce ale upoutá venkovní terasa, kde můžete relaxovat a užívat si impozantního výhledu na okolní
                    přírodu a krajinnou scenérii. Užijte si klid a pohodu v našem jedinečném úkrytu ve větrném mlýně,
                    kde se
                    starověká krása setkává s moderním pohodlím.
                </p>
            </div>
            <div class="karta-nabidka">
                <h3>
                    Co toto ubytování nabízí?
                </h3>
                <ul>
                    <li>wifi</li>
                    <li>Společné: bazén</li>
                    <li>Výtah</li>
                    <li>Sušička</li>
                    <li>kychyň</li>
                </ul>
            </div>

    </div>
    </section>

    <section class="rezervace">
        <div class="prijezd">
            <h4>Datum příjezdu</h4>
            <div id="arrival-calendar" class="calendar"></div>
        </div>
        <div class="odjezd">
            <h4> Datum odjezdu
            </h4>
            <div id="departure-calendar" class="calendar"></div>
        </div>

    </section>
    <button type="submit" class="btn flex">Ověřit dostupnost</button>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        let slideIndex = 1;

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            const slides = document.getElementsByClassName("slide");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }

        function openFullscreen(imgElement) {
            const modal = document.getElementById('myModal');
            const modalImg = document.getElementById("img01");

            modal.style.display = "block";
            modalImg.src = imgElement.src;
        }

        function closeFullscreen() {
            document.getElementById('myModal').style.display = "none";
        }

        showSlides(slideIndex);

        const today = new Date();
        let arrivalDate = today;
        let departureDate = today;

        const arrivalCalendar = flatpickr('#arrival-calendar', {
            inline: true,
            dateFormat: 'Y-m-d',
            onClose: function (selectedDates, dateStr, instance) {

                if (selectedDates.length > 0) {
                    const selectedDate = new Date(selectedDates[0]);
                    departureCalendar.set('minDate', selectedDate);
                }
            },
        });

        const departureCalendar = flatpickr('#departure-calendar', {
            inline: true,
            dateFormat: 'Y-m-d',
            onClose: function (selectedDates, dateStr, instance) {
                // datum odjezdu > příjezdu
                if (selectedDates.length > 0) {
                    const selectedDate = new Date(selectedDates[0]);
                    if (selectedDate < arrivalDate) {
                        departureCalendar.setDate(arrivalDate);
                    } else {
                        departureDate = selectedDate;
                    }
                }
            },
        });
    </script>

</body>

</html>