<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domů</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body class="body">
    <div class="container">
    <section class="pronajímám polovina">
        <a href="add-room">  <h2>Pronajímám ubytování</h2> 
        <img src="" alt=""> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident quo, sed ab porro laboriosam similique numquam. Necessitatibus nesciunt molestiae atque velit corporis, laboriosam, magnam minus cupiditate placeat non voluptates.</p>
</a>
    </section>
    <section class="hledam polovina">
        <a href="search">   <h2>Hledám ubytování</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat est odio itaque, consequatur aut neque consequuntur, deleniti animi blanditiis at numquam autem porro, dicta velit error officia fugiat! Ipsam, eum.</p>
</a>
    </section>

</div>     <a href="/signup" id="a_back">&lt</a>

</body>
</html>