<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domů</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body class="body">
    <div class="container ">
        <section class="header">
            <a href="#" class="logo"><img src="image/logo.png" alt="logo"></a>
            <input class="menu-btn" type="checkbox" id="menu-btn">
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="add-room ">Chci být hostitel</a></li>
    
            </ul>
        </section>
   <section class="kategorie background-image">     <!-- HTML pro tlačítka kategorie -->
    <button class="category-button" data-category="vse"><img src="..//image/reset.png" alt=""></button>
        <button class="category-button" data-category="dum"><img src="..//image/house.png" alt=""></button>
<button class="category-button" data-category="byt"><img src="..//image/buildings.png" alt=""></button>
<button class="category-button" data-category="vetrny-mlyn"><img src="..//image/windmill.png" alt=""></button>
<button class="category-button" data-category="stan"><img src="..//image/camping.png" alt=""></button>

<!-- HTML pro seznam pokoje -->
<div id="room-list">
  <div class="room karta-pokoj" data-category="dum">
  <img src="../image/dum3.jpg" alt="pokoj-interier">
    <h3>Dům s krbem</h3>
    <p class="hodnoceni">
        ⭐⭐⭐⭐⭐ (5)
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur deleniti distinctio explicabo eveniet nesciunt repudiandae error tempore voluptatum dicta, laudantium neque praesentium aliquid quaerat dolore blanditiis excepturi, voluptatem eligendi.</p>


<a href="detail-pokoje" class="proklikNaDetail">zobrazit</a> 
</div> 

<div class="room karta-pokoj" data-category="dum">
    <img src="../image/dum.jpg" alt="pokoj-interier">
      <h3>Moderní skandinávský dům</h3>
      <p class="hodnoceni">
        ⭐⭐⭐⭐⭐ (5)
    </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur deleniti distinctio explicabo eveniet nesciunt repudiandae error tempore voluptatum dicta, laudantium neque praesentium aliquid quaerat dolore blanditiis excepturi, voluptatem eligendi.</p>

  
  <a href="detail-pokoje" class="proklikNaDetail">zobrazit</a> 
  </div> 

  <div class="room karta-pokoj" data-category="dum ">
    <img src="../image/dum2.jpg" alt="pokoj-interier">
      <h3>Dům se zahradou</h3>
      <p class="hodnoceni">
        ⭐⭐⭐⭐⭐ (5)
    </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur deleniti distinctio explicabo eveniet nesciunt repudiandae error tempore voluptatum dicta, laudantium neque praesentium aliquid quaerat dolore blanditiis excepturi, voluptatem eligendi.</p>

  
  <a href="detail-pokoje" class="proklikNaDetail">zobrazit</a> 
  </div> 
  




  <div class="room karta-pokoj" data-category="byt">
    <img src="../image/byt.jpg" alt="pokoj-interier">
    <h3>Minimalistický dům</h3>
    <p class="hodnoceni">
        ⭐⭐⭐⭐⭐ (5)
    </p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur deleniti distinctio explicabo eveniet nesciunt repudiandae error tempore voluptatum dicta, laudantium neque praesentium aliquid quaerat dolore blanditiis excepturi, voluptatem eligendi.</p>

<a href="detail-pokoje" class="proklikNaDetail">zobrazit</a> 
  </div>
  
  <div class="room karta-pokoj" data-category="byt">
    <img src="../image/byt2.jpg" alt="pokoj-interier">
    <h3>Byt s výhledem na město</h3>
    <p class="hodnoceni">
        ⭐⭐⭐⭐⭐ (5)
    </p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur deleniti distinctio explicabo eveniet nesciunt repudiandae error tempore voluptatum dicta, laudantium neque praesentium aliquid quaerat dolore blanditiis excepturi, voluptatem eligendi.</p>

<a href="detail-pokoje" class="proklikNaDetail">zobrazit</a> 
  </div>
  
  <div class="room karta-pokoj" data-category="byt">
    <img src="../image/pokoj4.jpg" alt="pokoj-interier">
    <h3>Střešní byt</h3>
    <p class="hodnoceni">
        ⭐⭐⭐⭐⭐ (5)
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur deleniti distinctio explicabo eveniet nesciunt repudiandae error tempore voluptatum dicta, laudantium neque praesentium aliquid quaerat dolore blanditiis excepturi, voluptatem eligendi.</p>


<a href="detail-pokoje" class="proklikNaDetail">zobrazit</a> 
  </div>
  
  <div class="room karta-pokoj" data-category="byt ">
    <img src="../image/pokoj1.jpg" alt="pokoj-interier">
    <h3>Byt v centru</h3>
    <p class="hodnoceni">
        ⭐⭐⭐⭐⭐ (5)
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur deleniti distinctio explicabo eveniet nesciunt repudiandae error tempore voluptatum dicta, laudantium neque praesentium aliquid quaerat dolore blanditiis excepturi, voluptatem eligendi.</p>


<a href="detail-pokoje" class="proklikNaDetail">zobrazit</a> 
  </div>
  <div class="room karta-pokoj" data-category="vetrny-mlyn">   <img src="../image/vm.jpg" alt="pokoj-interier">
    <h3>Větrný mlýn</h3>
    <p class="hodnoceni">
        ⭐⭐⭐⭐⭐ (5)
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur deleniti distinctio explicabo eveniet nesciunt repudiandae error tempore voluptatum dicta, laudantium neque praesentium aliquid quaerat dolore blanditiis excepturi, voluptatem eligendi.</p>


<a href="detail-pokoje" class="proklikNaDetail">zobrazit</a> </div>
  
  <div class="room karta-pokoj" data-category="stan">   <img src="../image/stan2.jpg" alt="pokoj-interier">
    <h3>Stan uprostřed přírody</h3>
    <p class="hodnoceni">
        ⭐⭐⭐⭐⭐ (5)
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur deleniti distinctio explicabo eveniet nesciunt repudiandae error tempore voluptatum dicta, laudantium neque praesentium aliquid quaerat dolore blanditiis excepturi, voluptatem eligendi.</p>


<a href="detail-pokoje" class="proklikNaDetail">zobrazit</a> </div>

  <!-- Další pokoje -->
</div></section>
<script>
    // Vybere všechny tlačítka kategorie
const categoryButtons = document.querySelectorAll('.category-button');

// Připojí posluchače událostí na každé tlačítko kategorie
categoryButtons.forEach(button => {
  button.addEventListener('click', () => {
    const category = button.dataset.category; // Získá hodnotu data-category atributu

    // Skryje všechny pokoje, které neodpovídají vybrané kategorii
    const rooms = document.querySelectorAll('.room');
    rooms.forEach(room => {
      const roomCategory = room.dataset.category; // Získá hodnotu data-category atributu pokoje
      if (roomCategory !== category) {
        room.style.display = 'none';
      } else {
        room.style.display = 'block';
      }
    });
  });
});

 // Vybere tlačítko pro všechny kategorie
 const vseButton = document.querySelector('[data-category="vse"]');

// Připojí posluchač událostí na tlačítko "Vše"
vseButton.addEventListener('click', () => {
    // Získá všechny pokoje
    const rooms = document.querySelectorAll('.room');
    // Zobrazí všechny pokoje
    rooms.forEach(room => {
        room.style.display = 'block';
    });
});
</script>
    </section>

</div>     <a href="/signup" id="a_back">&lt</a>

</body>
</html>