<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap"
        rel="stylesheet">
</head>
<body>
    <section class="header">
        <a href="/" class="logo"><img src="/frontend/image/logo.png" alt=""></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="/">Domů</a></li>
          <li><a href="login"id="active">Přihlášení</a></li>
          <!-- <li><a href="reservation">Rezervace</a></li> -->
          <li><a href="gallery">Galerie</a></li>
          <li><a href="contacs">Kontakty</a></li>
        </ul>
    </section>

<section class="form-login">
    <div class="form-container">
        <h2>Přihlášení</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="password">Heslo:</label>
                <input type="password" name="password"id="password" placeholder="Heslo" required>
            </div>
            <button type="submit"class="submit-btn btn">Přihlásit se    </button>
        </form>
        <p>Nemáte účet? <a href="/signup">Zaregistrovat se!</a></p>
        <p>Nepamatujete si heslo? <a href="/reset-password">Resetovat heslo!</a></p>

    </div>
</section>
    <footer>
        <section class="footer">
            <div class="tretina">
                <ul>
                    <li>
                        <h3>Kontakty</h3>
                    </li>
                    <li><img src="image/telephone.png" alt="ikona telefon" class="icons">Telefon: +420 *** *** ***</li>
                    <li><img src="image/email.png" alt="ikona mail" class="icons">E-mail: reservation@reservation.cz
                    </li>
                </ul>
            </div>
            <div class="tretina">
                <ul>
                    <li>
                        <h3>Sociání sítě</h3>
                    </li>
                    <li><img src="image/instagram.png" alt="instagram" class="icons"><a href="#">Instagram</a></li>
                    <li><img src="image/facebook.png" alt="facebook" class="icons"><a href="#">Facebook</a></li>
                    <li><img src="image/pinterest.png" alt="pinterest" class="icons"><a href="#">Pinterest</a></li>
                </ul>
            </div>
            <div class="tretina">
                <ul>
                    <li>
                        <h3>O Nás</h3>
                    </li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas exercitationem nobis consectetur
                        porro natus totam obcaecati inventore. Consequatur sequi ullam, eos impedit aliquam nostrum
                        velit atque distinctio doloribus, saepe hic.</p>
                    </li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>